<div class="row">    
  <div id = "welcome_logo" ><%= image_tag 'truck1.png' , class: 'img_center'%></div>
     <div id = "welcome"> 
        <div id = "welcome_serving"> 
          <div id = "main_content">
                <h4> About Us </h4>
                <p>  We started the A&M Creamery out of a truck in 2017.  We set out <br>
                to celebrate the best ingredients that Western Pennsylvania has to offer, and <br>
                since then have become one of the most popular creameries state wide. <br>
                Our scoops and creams are always made fresh in house daily, using local dairy, <br>
                eggs from our own in-house hens, and sugar ground from our own cane plants. <br><br>
                We have also developed our popular vegan scoops, made with scratch-made oat milk <br>
                made with oats from our oat garden. Whether you choose a dairy or a vecan scoop <br>
                you are sure to experience the signature rich, creamy, and satisfying flavors of our <br>
                creams. <br><br>
                We are expanding! From selling pints at stores across the county, to growing our stores<br>
                across the Pittsburgh region, we are excited to bring our scoops to more and more customers.<br> 
                Stop in for a creamy treat we would love to see you! <br>
                &nbsp;   - The A&M Creamery Team  
              </p></div><br>
            </div>
        </div>
</div>

<div id = "about-pictures">
  <div class = "row">
      <%= image_tag 'about3.png' %>  
      <%= image_tag 'about1.png' %>  
  </div>
  <div class = "row">
      <%= image_tag 'about4.png' %>  
      <%= image_tag 'about2.png' %>  
  </div>
</div>
